<h3>Simple</h3>

<div class="row">
  <div class="col-sm-12">
    <h4>A rectangle</h4>
    <svg viewBox="0 0 500 100">
      <rect x="0" y="0" width="500" height="100" fill="#f00" stroke="#00f" stroke-width="1em"></rect>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A circle</h4>
    <svg viewBox="0 0 500 100">
      <circle cx="50" cy="50" r="50" fill="#f00" stroke="#00f" stroke-width=".5em"></circle>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A group</h4>
    <svg viewBox="0 0 200 150">
      <g>
        <rect x="0" y="0" width="500" height="100" fill="#f00" stroke="#00f" stroke-width="1em"></rect>
        <circle cx="50" cy="50" r="25" fill="#f00" stroke="#00f" stroke-width=".5em"></circle>
      </g>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A path</h4>
    <svg viewBox="0 0 500 200">
      <path d="M 50 50 C 50,50 75,0 100,50" fill="transparent" stroke="#f00"></path>
    </svg>
  </div>
</div>
