<h3>Simple</h3>

<div class="row">
  <div class="col-sm-12">
    <h4>A rectangle</h4>
    <svg viewBox="0 0 500 100">
      <rect x="0" y="0" width="500" height="100" fill="#f00" stroke="#00f" stroke-width="1em"></rect>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A circle</h4>
    <svg viewBox="0 0 500 100">
      <circle cx="50" cy="50" r="50" fill="#f00" stroke="#00f" stroke-width=".5em"></circle>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A group</h4>
    <svg viewBox="0 0 200 150">

    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A path</h4>
    <svg viewBox="0 0 500 200">

    </svg>
  </div>
</div>
