<h1>Konstrukteure</h1>
<ul>
    {{#each constructors}}
    <li>
        <a href="{{url}}" target="_blank" rel="external">
            {{name}}, {{nationality}}
        </a>
    </li>
    {{/each}}
</ul>

{{{pagination}}}